nocommit
kartierung_von_ueberflutungsgebieten_mit_actinia/notebooks/venv
kartierung_von_ueberflutungsgebieten_mit_actinia/notebooks/result
kartierung_von_ueberflutungsgebieten_mit_actinia/notebooks/.ipynb_checkpoints
news-from-actinia/nocommit
