body {
    width: 100%;
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, verdana, sans-serif;
    line-height: 1.4em;
    background-color: rgb(255, 255, 255);
    margin: 0px;
}

h1 {
    font-size: 2.4em;
}

h1, h2 {
    color: #0e1058;
    text-align: center;
    line-height: 1em;
    font-weight: normal;
}

main {
    background-color: rgb(255, 255, 255);
    z-index: 2;
    margin-top: 7em;
}

.flexparent {
    display: flex;
    justify-content: center;
}

.flexchild {
    width: 80%;
    min-width: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.3em;
    padding: 1%;
    margin: 1%;
}
